<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Student  Performance Analysis</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
.footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #133249;
}

.footer p {
  padding: 25px;
  font-size: 12px;
  color: #fff;
}
.heading,.link{
    text-align: center;
}
.linkdiv{
  margin: 50px auto;
}
body{
  background-color: #333945
}
.heading{
  color: #fff
}
</style>
<body>
  <div class="container">
    <h1 class="heading display-1" >  Welcome To<br><br> Student Feedback System  </h1>
</div>
<div class=" container linkdiv">
  <h1 class="link display-3" ><a href="https://docs.google.com/document/d/e/2PACX-1vTGTFHqZB3XjjBQnQI8pDmmU9YgulTwg7fYSLGuVEmCLfII4ugALg0UGWeOjXL7b7At3xP2K4MH56kO/pub" > Synopsis </a></h1>
</div>
<div id="before-footer">

</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p  >Made by Prabhakar </p>
  </div>
</div>
</body>
</html>